h1 {
    color: rgb(102, 205, 249);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(254, 254, 254);
}
h2{
    color: rgb(102, 205, 249);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(254, 254, 254)
}